<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="../css/chatWindow.css">
</head>
<body>
    <div class="container-fluid d-flex">
        <!-- Sidebar -->
        <div class="col-md-4 col-lg-3 sidebar">
            <div class="sidebar-header d-flex justify-content-between align-items-center text-white">
                <h5>Chat App</h5>
                <div>
                    <i class="fa fa-search me-3" id="search-icon"></i>
                    <i class="fa fa-ellipsis-v" data-bs-toggle="dropdown"></i>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="../views/mainPage.html">User List</a></li>
                        <li><a class="dropdown-item" href="#">Create Group</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="../views/login.html">Logout</a></li>
                    </ul>
                </div>
            </div>
            <input type="text" id="search-bar" class="form-control m-2 d-none" placeholder="Search...">
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white border-0 d-flex align-items-center">
                    <img src="../css/signup final.avif " class="profile-pic me-2"> Chat 1
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white border-0 d-flex align-items-center">
                    <img src="../css/images.png" class="profile-pic me-2"> Chat 2
                </a>
                <a href="#" class="list-group-item list-group-item-action bg-transparent text-white border-0 d-flex align-items-center">
                    <img src="../css/images.png" class="profile-pic me-2"> Chat 3
                </a>
            </div>
        </div>
        
        <!-- Chat Area -->
        <div class="col-md-8 col-lg-9 chat-area d-flex flex-column">
            <div class="chat-header text-white d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="../css/images.png" class="profile-pic me-2">
                    <span>Chat Name</span>
                </div>
                <div>
                    <i class="fa fa-search me-3" id="chat-search"></i>
                    <i class="fa fa-ellipsis-v" data-bs-toggle="dropdown"></i>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Block</a></li>
                    </ul>
                </div>
            </div>
            <div class="chat-box flex-grow-1 p-3 text-white">
                <p class="bg-success p-2 rounded w-50">Hello!</p>
                <p class="bg-secondary p-2 rounded w-50 ms-auto">Hi, how are you?</p>
            </div>
            <div class="chat-footer d-flex align-items-center position-relative">
                <i class="fa fa-paperclip me-2" id="attach-icon"></i>
                <div class="attachment-menu" id="attachment-menu">
                    <a href="#"><i class="fa fa-file"></i></a>
                    <a href="#"><i class="fa fa-music"></i></a>
                    <a href="#"><i class="fa fa-image"></i></a>
                </div>
                <input type="text" class="chat-input form-control" id="message-input" placeholder="Type a message...">
                <button class="btn btn-primary ms-2"><i class="fa fa-paper-plane" id="send-btn"></i></button>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/chatWindow.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
</body>
</html>
